<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:security="http://www.sitecore.net/xmlconfig/security/">
  <sitecore role:require="Standalone or ContentManagement" security:require="Sitecore">
    <commands>
      <command name="batch:upload" type="SitecoreExtension.MediaUploadBatch.Command.BatchUploadCommand, SitecoreExtension.MediaUploadBatch" />
    </commands>
    <processors>
      <uiUploadBatch>
        <processor mode="on" type="Sitecore.Pipelines.Upload.CheckPermissions, Sitecore.Kernel" />
        <processor mode="on" type="Sitecore.Pipelines.Upload.CheckSize, Sitecore.Kernel" />
        <processor mode="on" type="Sitecore.Pipelines.Upload.ResolveFolder, Sitecore.Kernel" />
        <processor mode="on" type="SitecoreExtension.MediaUploadBatch.Processor.CustomSave, SitecoreExtension.MediaUploadBatch" />
        <processor mode="on" type="Sitecore.Pipelines.Upload.Done, Sitecore.Kernel" />
      </uiUploadBatch>
    </processors>
  </sitecore>
</configuration>